.vscode
backend/venv/
backend/coba/
backend/yolovn.pt
backend/yolov8/dataset
backend/yolov8/predict*
backend/yolov8/train
backend/yolov8/train3
backend/yolov8/train2
backend/helper/__pycache__

frontend/node_modules/
frontend/dist
frontend/dist-ssr
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/*.local
frontend/.vscode/
frontend/.idea/
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?